<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerMicrosoftXbox360</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerMicrosoftXbox360DPadUp</string>
		<key>OEWiiClassicButtonDown</key>
		<string>OEControllerMicrosoftXbox360DPadDown</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerMicrosoftXbox360DPadLeft</string>
		<key>OEWiiClassicButtonRight</key>
		<string>OEControllerMicrosoftXbox360DPadRight</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerMicrosoftXbox360LeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerMicrosoftXbox360RightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerMicrosoftXbox360RightAnalogLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerMicrosoftXbox360ButtonB</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerMicrosoftXbox360ButtonA</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerMicrosoftXbox360ButtonY</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerMicrosoftXbox360ButtonX</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerMicrosoftXbox360ButtonLeftTrigger</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerMicrosoftXbox360ButtonRightTrigger</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerMicrosoftXbox360ButtonRightShoulder</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerMicrosoftXbox360ButtonLeftShoulder</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerMicrosoftXbox360ButtonStart</string>
	</dict>
	<key>OEControllerSonyPS3Sixaxis</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerSonyPS3SixaxisDPadUp</string>
		<key>OEWiiClassicButtonDown</key>
		<string>OEControllerSonyPS3SixaxisDPadDown</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerSonyPS3SixaxisDPadLeft</string>
		<key>OEWiiClassicButtonRight</key>
		<string>OEControllerSonyPS3SixaxisDPadRight</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerSonyPS3SixaxisLeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerSonyPS3SixaxisRightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerSonyPS3SixaxisRightAnalogLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerSonyPS3SixaxisButtonCircle</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerSonyPS3SixaxisButtonCross</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerSonyPS3SixaxisButtonTriangle</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerSonyPS3SixaxisButtonSquare</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerSonyPS3SixaxisButtonL2</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerSonyPS3SixaxisButtonR2</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerSonyPS3SixaxisButtonR1</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerSonyPS3SixaxisButtonL1</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerSonyPS3SixaxisButtonStart</string>
	</dict>
	<key>OEControllerLogitechDualAction</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerLogitechDualActionDPadUp</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerLogitechDualActionLeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerLogitechDualActionLeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerLogitechDualActionRightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerLogitechDualActionRightAnalogLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerLogitechDualActionButton3</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerLogitechDualActionButton2</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerLogitechDualActionButton4</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerLogitechDualActionButton1</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerLogitechDualActionButtonLeftTrigger</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerLogitechDualActionButtonRightTrigger</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerLogitechDualActionButtonRightShoulder</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerLogitechDualActionButtonLeftShoulder</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerLogitechDualActionButtonStart</string>
	</dict>
	<key>OEControllerSegaSaturn</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerSegaSaturnDPadUp</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerSegaSaturnDPadLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerSegaSaturnButtonC</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerSegaSaturnButtonB</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerSegaSaturnButtonZr</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerSegaSaturnButtonY</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerSegaSaturnButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerSegaSaturnButtonRightShoulder</string>
		<key>OEWiiClassicButtonZ</key>
		<string>OEControllerSegaSaturnButtonX</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerSegaSaturnButtonStart</string>
	</dict>
	<key>OEControllerGravisGamePadPro</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerGravisGamePadProDPadUp</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerGravisGamePadProDPadLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerGravisGamePadProButton3</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerGravisGamePadProButton2</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerGravisGamePadProButton4</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerGravisGamePadProButton1</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerGravisGamePadProButtonLeftTrigger</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerGravisGamePadProButtonRightTrigger</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerGravisGamePadProButtonRightShoulder</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerGravisGamePadProButtonLeftShoulder</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerGravisGamePadProButtonStart</string>
	</dict>
	<key>OEControllerRetroUSBSNES</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerRetroUSBSNESDPadUp</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerRetroUSBSNESDPadLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerRetroUSBSNESButtonA</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerRetroUSBSNESButtonB</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerRetroUSBSNESButtonX</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerRetroUSBSNESButtonY</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerRetroUSBSNESButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerRetroUSBSNESButtonRightShoulder</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerRetroUSBSNESButtonSelect</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerRetroUSBSNESButtonStart</string>
	</dict>
	<key>OEControllerPS3NeoGeoPad</key>
	<dict>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerPS3NeoGeoPadDPadUp</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerPS3NeoGeoPadButtonCircle</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerPS3NeoGeoPadButtonCross</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerPS3NeoGeoPadButtonTriangle</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerPS3NeoGeoPadButtonSquare</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerPS3NeoGeoPadButtonL2</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerPS3NeoGeoPadButtonR2</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerPS3NeoGeoPadButtonR1</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerPS3NeoGeoPadButtonL1</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerPS3NeoGeoPadButtonStart</string>
	</dict>
	<key>OEControllerRetrode</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerRetrodeDPadUp</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerRetrodeDPadLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerRetrodeButtonA</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerRetrodeButtonB</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerRetrodeButtonX</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerRetrodeButtonY</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerRetrodeButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerRetrodeButtonRightShoulder</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerRetrodeButtonSelect</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerRetrodeButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkSNES</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerRetrolinkSNESDPadUp</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerRetrolinkSNESDPadLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerRetrolinkSNESButtonA</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerRetrolinkSNESButtonB</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerRetrolinkSNESButtonX</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerRetrolinkSNESButtonY</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerRetrolinkSNESButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerRetrolinkSNESButtonRightShoulder</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerRetrolinkSNESButtonSelect</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerRetrolinkSNESButtonStart</string>
	</dict>
	<key>OEControllerRetrolinkN64</key>
	<dict>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerRetrolinkN64AnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerRetrolinkN64AnalogLeft</string>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerRetrolinkN64DPadUp</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerRetrolinkN64CPadRight</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerRetrolinkN64CPadDown</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerRetrolinkN64CPadUp</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerRetrolinkN64CPadLeft</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerRetrolinkN64ButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerRetrolinkN64ButtonRightShoulder</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerRetrolinkN64ButtonZ</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerRetrolinkN64ButtonStart</string>
	</dict>
	<key>OEControllerAdaptoidN64</key>
	<dict>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerAdaptoidN64AnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerAdaptoidN64AnalogLeft</string>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerAdaptoidN64DPadUp</string>
		<key>OEWiiClassicButtonDown</key>
		<string>OEControllerAdaptoidN64DPadDown</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerAdaptoidN64DPadLeft</string>
		<key>OEWiiClassicButtonRight</key>
		<string>OEControllerAdaptoidN64DPadRight</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerAdaptoidN64CPadRight</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerAdaptoidN64CPadDown</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerAdaptoidN64CPadUp</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerAdaptoidN64CPadLeft</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerAdaptoidN64ButtonLeftShoulder</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerAdaptoidN64ButtonRightShoulder</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerAdaptoidN64ButtonZ</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerAdaptoidN64ButtonStart</string>
	</dict>
	<key>OEControllerNintendoWiiUProController</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerNintendoWiiUProControllerDPadUp</string>
		<key>OEWiiClassicButtonDown</key>
		<string>OEControllerNintendoWiiUProControllerDPadDown</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerNintendoWiiUProControllerDPadLeft</string>
		<key>OEWiiClassicButtonRight</key>
		<string>OEControllerNintendoWiiUProControllerDPadRight</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerNintendoWiiUProControllerLeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerNintendoWiiUProControllerRightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerNintendoWiiUProControllerRightAnalogLeft</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerNintendoWiiUProControllerButtonA</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerNintendoWiiUProControllerButtonB</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerNintendoWiiUProControllerButtonX</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerNintendoWiiUProControllerButtonY</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerNintendoWiiUProControllerButtonZL</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerNintendoWiiUProControllerButtonZR</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerNintendoWiiUProControllerButtonR</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerNintendoWiiUProControllerButtonL</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerNintendoWiiUProControllerButtonPlus</string>
	</dict>
	<key>OEControllerSonyPS4Dualshock4</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerSonyPS4Dualshock4DPadUp</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerSonyPS4Dualshock4LeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerSonyPS4Dualshock4RightAnalogLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCircle</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerSonyPS4Dualshock4ButtonCross</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerSonyPS4Dualshock4ButtonTriangle</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerSonyPS4Dualshock4ButtonSquare</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerSonyPS4Dualshock4ButtonL2</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR2</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerSonyPS4Dualshock4ButtonR1</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerSonyPS4Dualshock4ButtonL1</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerSonyPS4Dualshock4ButtonOptions</string>
	</dict>
	<key>OEControllerSteelSeriesWireless</key>
	<dict>
		<key>OEWiiClassicButtonUp</key>
		<string>OEControllerSteelSeriesWirelessDPadUp</string>
		<key>OEWiiClassicButtonDown</key>
		<string>OEControllerSteelSeriesWirelessDPadDown</string>
		<key>OEWiiClassicButtonLeft</key>
		<string>OEControllerSteelSeriesWirelessDPadLeft</string>
		<key>OEWiiClassicButtonRight</key>
		<string>OEControllerSteelSeriesWirelessDPadRight</string>
		<key>OEWiiClassicAnalogUp</key>
		<string>OEControllerSteelSeriesWirelessLeftAnalogUp</string>
		<key>OEWiiClassicAnalogLeft</key>
		<string>OEControllerSteelSeriesWirelessLeftAnalogLeft</string>
		<key>OEWiiClassicAnalogCUp</key>
		<string>OEControllerSteelSeriesWirelessRightAnalogUp</string>
		<key>OEWiiClassicAnalogCLeft</key>
		<string>OEControllerSteelSeriesWirelessRightAnalogLeft</string>
		<key>OEWiiClassicButtonB</key>
		<string>OEControllerSteelSeriesWirelessButtonB</string>
		<key>OEWiiClassicButtonX</key>
		<string>OEControllerSteelSeriesWirelessButtonA</string>
		<key>OEWiiClassicButtonA</key>
		<string>OEControllerSteelSeriesWirelessButtonY</string>
		<key>OEWiiClassicButtonY</key>
		<string>OEControllerSteelSeriesWirelessButtonX</string>
		<key>OEWiiClassicButtonL</key>
		<string>OEControllerSteelSeriesWirelessButtonL2</string>
		<key>OEWiiClassicButtonR</key>
		<string>OEControllerSteelSeriesWirelessButtonR2</string>
		<key>OEWiiClassicButtonZr</key>
		<string>OEControllerSteelSeriesWirelessButtonR1</string>
        <key>OEWiiClassicButtonZl</key>
        <string>OEControllerSteelSeriesWirelessButtonL1</string>
		<key>OEWiiClassicButtonStart</key>
		<string>OEControllerSteelSeriesWirelessButtonHome</string>
	</dict>
</dict>
</plist>
