<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OEWiiSystemController</string>
	<key>OEControlListKey</key>
	<array>
		<array>
			<string>Wiimote</string>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Buttons</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>1</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButton1</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>2</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButton2</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>+</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonPlus</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>-</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonMinus</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Home</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteButtonHome</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Shake</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteShake</string>
			</dict>
		</array>
		<array>
			<string>Tilt</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteTiltLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteTiltRight</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Forward</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteTiltForward</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Backward</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteTiltBackward</string>
			</dict>
		</array>
		<array>
			<string>Swing</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingRight</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Forward</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingForward</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Backward</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiMoteSwingBackward</string>
			</dict>
		</array>
		<array>
			<string>Nunchuk</string>
			<string>Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukAnalogRight</string>
			</dict>
		</array>
		<array>
			<string>Buttons</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>C</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukButtonC</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Z</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukButtonZ</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Shake</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiNunchukShake</string>
			</dict>
		</array>
		<array>
			<string>Classic Controller</string>
			<string>D-Pad</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonRight</string>
			</dict>
		</array>
		<array>
			<string>Left Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogLUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogLDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogLLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogLRight</string>
			</dict>
		</array>
		<array>
			<string>Right Analog</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogRUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogRDown</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogRLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicAnalogRRight</string>
			</dict>
		</array>
		<array>
			<string>Buttons</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>A</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonA</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>B</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonB</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonX</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Y</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonY</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>L</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonL</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>R</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonR</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Zl</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonZl</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Zr</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonZr</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Start</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonStart</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Select</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonSelect</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Home</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiiClassicButtonHome</string>
			</dict>
		</array>
		<array>
			<string>Special Buttons</string>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Change Extension</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiimoteChangeExtension</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Hold Sideways</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiimoteSideways</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Hold Upright</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEWiimoteUpright</string>
			</dict>
		</array>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEAnalogControlsKey</key>
		<array>
			<string>OEWiiClassicAnalogLUp</string>
			<string>OEWiiClassicAnalogLDown</string>
			<string>OEWiiClassicAnalogLLeft</string>
			<string>OEWiiClassicAnalogLRight</string>
			<string>OEWiiClassicAnalogRUp</string>
			<string>OEWiiClassicAnalogRDown</string>
			<string>OEWiiClassicAnalogRLeft</string>
			<string>OEWiiClassicAnalogRRight</string>
			<string>OEWiiClassicButtonL</string>
			<string>OEWiiClassicButtonR</string>
			<string>OEWiiNunchukAnalogUp</string>
			<string>OEWiiNunchukAnalogDown</string>
			<string>OEWiiNunchukAnalogLeft</string>
			<string>OEWiiNunchukAnalogRight</string>
			<string>OEWiiMoteSwingUp</string>
			<string>OEWiiMoteSwingDown</string>
			<string>OEWiiMoteSwingLeft</string>
			<string>OEWiiMoteSwingRight</string>
			<string>OEWiiMoteSwingForward</string>
			<string>OEWiiMoteSwingBackward</string>
			<string>OEWiiMoteTiltLeft</string>
			<string>OEWiiMoteTiltRight</string>
			<string>OEWiiMoteTiltForward</string>
			<string>OEWiiMoteTiltBackward</string>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEWiiMoteSwingUp</string>
				<string>OEWiiMoteSwingDown</string>
			</array>
			<array>
				<string>OEWiiMoteSwingLeft</string>
				<string>OEWiiMoteSwingRight</string>
			</array>
			<array>
				<string>OEWiiMoteSwingForward</string>
				<string>OEWiiMoteSwingBackward</string>
			</array>
			<array>
				<string>OEWiiMoteTiltLeft</string>
				<string>OEWiiMoteTiltRight</string>
			</array>
			<array>
				<string>OEWiiMoteTiltForward</string>
				<string>OEWiiMoteTiltBackward</string>
			</array>
			<array>
				<string>OEWiiClassicAnalogLUp</string>
				<string>OEWiiClassicAnalogLDown</string>
			</array>
			<array>
				<string>OEWiiClassicAnalogLLeft</string>
				<string>OEWiiClassicAnalogLRight</string>
			</array>
			<array>
				<string>OEWiiClassicAnalogRUp</string>
				<string>OEWiiClassicAnalogRDown</string>
			</array>
			<array>
				<string>OEWiiClassicAnalogRLeft</string>
				<string>OEWiiClassicAnalogRRight</string>
			</array>
			<array>
				<string>OEWiiNunchukAnalogUp</string>
				<string>OEWiiNunchukAnalogDown</string>
			</array>
			<array>
				<string>OEWiiNunchukAnalogLeft</string>
				<string>OEWiiNunchukAnalogRight</string>
			</array>
			<array>
				<string>OEWiiMoteButtonUp</string>
				<string>OEWiiMoteButtonDown</string>
			</array>
			<array>
				<string>OEWiiMoteButtonLeft</string>
				<string>OEWiiMoteButtonRight</string>
			</array>
			<array>
				<string>OEWiiClassicButtonUp</string>
				<string>OEWiiClassicButtonDown</string>
			</array>
			<array>
				<string>OEWiiClassicButtonLeft</string>
				<string>OEWiiClassicButtonRight</string>
			</array>
		</array>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEWiiMoteButtonUp</string>
				<string>OEWiiMoteButtonRight</string>
				<string>OEWiiMoteButtonDown</string>
				<string>OEWiiMoteButtonLeft</string>
			</array>
			<array>
				<string>OEWiiClassicButtonUp</string>
				<string>OEWiiClassicButtonRight</string>
				<string>OEWiiClassicButtonDown</string>
				<string>OEWiiClassicButtonLeft</string>
			</array>
		</array>
	</dict>
	<key>OEFileSuffixes</key>
	<array>
		<string>iso</string>
		<string>wbfs</string>
		<string>ciso</string>
		<string>wad</string>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEWiiMoteButtonUp</string>
		<string>OEWiiMoteButtonDown</string>
		<string>OEWiiMoteButtonLeft</string>
		<string>OEWiiMoteButtonRight</string>
		<string>OEWiiMoteButtonA</string>
		<string>OEWiiMoteButtonB</string>
		<string>OEWiiMoteButton1</string>
		<string>OEWiiMoteButton2</string>
		<string>OEWiiMoteButtonPlus</string>
		<string>OEWiiMoteButtonMinus</string>
		<string>OEWiiMoteButtonHome</string>
		<string>OEWiiMoteTiltForward</string>
		<string>OEWiiMoteTiltBackward</string>
		<string>OEWiiMoteTiltLeft</string>
		<string>OEWiiMoteTiltRight</string>
		<string>OEWiiMoteShake</string>
		<string>OEWiiMoteSwingUp</string>
		<string>OEWiiMoteSwingDown</string>
		<string>OEWiiMoteSwingLeft</string>
		<string>OEWiiMoteSwingRight</string>
		<string>OEWiiMoteSwingForward</string>
		<string>OEWiiMoteSwingBackward</string>
		<string>OEWiiNunchukAnalogUp</string>
		<string>OEWiiNunchukAnalogDown</string>
		<string>OEWiiNunchukAnalogLeft</string>
		<string>OEWiiNunchukAnalogRight</string>
		<string>OEWiiNunchukButtonC</string>
		<string>OEWiiNunchukButtonZ</string>
		<string>OEWiiNunchukShake</string>
		<string>OEWiiClassicButtonUp</string>
		<string>OEWiiClassicButtonDown</string>
		<string>OEWiiClassicButtonLeft</string>
		<string>OEWiiClassicButtonRight</string>
		<string>OEWiiClassicAnalogLUp</string>
		<string>OEWiiClassicAnalogLDown</string>
		<string>OEWiiClassicAnalogLLeft</string>
		<string>OEWiiClassicAnalogLRight</string>
		<string>OEWiiClassicAnalogRUp</string>
		<string>OEWiiClassicAnalogRDown</string>
		<string>OEWiiClassicAnalogRLeft</string>
		<string>OEWiiClassicAnalogRRight</string>
		<string>OEWiiClassicButtonA</string>
		<string>OEWiiClassicButtonB</string>
		<string>OEWiiClassicButtonX</string>
		<string>OEWiiClassicButtonY</string>
		<string>OEWiiClassicButtonL</string>
		<string>OEWiiClassicButtonR</string>
		<string>OEWiiClassicButtonZl</string>
		<string>OEWiiClassicButtonZr</string>
		<string>OEWiiClassicButtonStart</string>
		<string>OEWiiClassicButtonSelect</string>
		<string>OEWiiClassicButtonHome</string>
		<string>OEWiimoteChangeExtension</string>
		<string>OEWiimoteSideways</string>
		<string>OEWiimoteUpright</string>
	</array>
	<key>OENumberOfPlayersKey</key>
	<integer>4</integer>
	<key>OEResponderClassKey</key>
	<string>OEWiiSystemResponder</string>
	<key>OESystemIcon</key>
	<string>wii_library</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.wii</string>
	<key>OESystemName</key>
	<string>Wii</string>
</dict>
</plist>
